In [4]:
%run "../../../common/0_notebooks_base_setup.py"

/media/paulati/Nuevo vol/paula/dh/2021/dsad_2021_paula/common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
pandas=1.1.5 already installed
bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
pytest=6.2.1 already installed
chardet=4.0.0 already installed
psutil=5.7.2 already installed
scipy=1.5.2 already installed
statsmodels=0.12.1 already installed
scikit-learn=0.23.2 already installed
xlrd=2.0.1 already installed
Running command `conda install --yes nltk=3.5.0`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.9.0 already installed
flask=1.1.2 already installed

---

<img src='../../../common/logo_DH.png' align='left' width=35%/>

## Dataset

En la práctica de la clase de hoy usaremos una versión muy resumida de datos de la Encuesta Permanentes de Hogares (relevamiento llevado adelante por el INDEC). Se trata de una encuesta continua que tiene como objetivo fundamental generar información sobre el funcionamiento del mercado de trabajo.

Solamente utilizaremos algunas variables (edad, nivel educativo, cantidad de horas trabajadas, calificación de la tarea e ingreso laboral) y algunos casos (los ocupados, es decir, aquellos que han trabajado al menos una hora en la semana anterior al relevamiento).

Importamos la biblioteca pandas y asignamos pd como alias:

In [1]:
import pandas as pd

## Ejercicio 1

Vamos a leer los datos del archivo /M1/CLASE_04/Data/data_filt.csv en un `DataFrame` de pandas con el método `read_csv`

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html


Este archivo tiene algunos datos numéricos y otros de tipo cadena de caracteres. 

Las columnas son:

"ch06","nivel_ed","htot","calif","p47t"

* ch06: int, edad

* nivel_ed: string, nivel educativo

* htot: int, cantidad de horas totales trabajadas en el período

* calif: string, calificación de la tarea

* p47t: int, ingreso

In [2]:
# local:
data_location = "../Data/data_filt.csv"

df = pd.read_csv(data_location, sep=",", encoding="latin1")
data2 = df.rename(columns={'ch06':'edad','htot':'horas_trabajadas','p47t':'ingreso','calif':'calificacion','nivel_ed':'nivel_educativo'})

## Ejercicio 2

Miremos ahora los primeros tres registros del `DataFrame` data, y los ultimos cinco registros.

¿Cuántas filas tiene data? ¿Y cuántas columnas?

Ayudas:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html?highlight=head#pandas.DataFrame.head

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html?highlight=tail#pandas.DataFrame.tail

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html?highlight=shape#pandas.DataFrame.shape

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html?highlight=info

In [3]:
data2

       edad    nivel_educativo  horas_trabajadas     calificacion  ingreso
0        46        1_H/Sec inc                45  2_Op./No calif.   6000.0
1        26  2_Sec. comp y más                25  2_Op./No calif.   5000.0
2        47  2_Sec. comp y más                25  2_Op./No calif.   5000.0
3        52        1_H/Sec inc                90  2_Op./No calif.  11000.0
4        45        1_H/Sec inc                44  2_Op./No calif.   9500.0
...     ...                ...               ...              ...      ...
23443    45  2_Sec. comp y más                50  2_Op./No calif.   4000.0
23444    58        1_H/Sec inc                30  2_Op./No calif.   5000.0
23445    36  2_Sec. comp y más                40  2_Op./No calif.  13000.0
23446    49        1_H/Sec inc                40  2_Op./No calif.   4000.0
23447    36        1_H/Sec inc                54  2_Op./No calif.   8000.0

[23448 rows x 5 columns]

In [4]:
data2.shape

(23448, 5)

In [5]:
data2.head(3)

   edad    nivel_educativo  horas_trabajadas     calificacion  ingreso
0    46        1_H/Sec inc                45  2_Op./No calif.   6000.0
1    26  2_Sec. comp y más                25  2_Op./No calif.   5000.0
2    47  2_Sec. comp y más                25  2_Op./No calif.   5000.0

In [6]:
data2.tail(5)

       edad    nivel_educativo  horas_trabajadas     calificacion  ingreso
23443    45  2_Sec. comp y más                50  2_Op./No calif.   4000.0
23444    58        1_H/Sec inc                30  2_Op./No calif.   5000.0
23445    36  2_Sec. comp y más                40  2_Op./No calif.  13000.0
23446    49        1_H/Sec inc                40  2_Op./No calif.   4000.0
23447    36        1_H/Sec inc                54  2_Op./No calif.   8000.0

## Ejercicio 3

¿Cuáles son los nombres de las columnas del `DataFrame` data?

¿Cuál es el índice del `DataFrame` data?

Ayudas:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.columns.html?highlight=columns#pandas.DataFrame.columns

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.index.html?highlight=index#pandas.DataFrame.index

In [7]:
data2.columns

Index(['edad', 'nivel_educativo', 'horas_trabajadas', 'calificacion',
       'ingreso'],
      dtype='object')

Renombremos ahora los columnas para que queden con estos valores:

['edad', 'nivel_educativo', 'hs_trabajados', 'calif_ocupacional', 'ingreso_ult_mes']

In [8]:
data2 = df.rename(columns={'ch06':'edad','htot':'horas_trabajadas','p47t':'ingreso','calif':'calificacion','nivel_ed':'nivel_educativo'})

## Ejercicio 4 

¿Cuál es el tipo de datos de la cuarta columna de data?

## Ejercicio 5 

¿Cómo están distribuidos los niveles educativos? ¿Cuál es el más común?

Ayuda:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html?highlight=value_counts#pandas.Series.value_counts

In [15]:
data2.nivel_educativo.value_counts()

2_Sec. comp y más    14634
1_H/Sec inc           8814
Name: nivel_educativo, dtype: int64

## Ejercicio 6

¿Cuál es el ingreso medio de la población?

In [17]:
data2.ingreso.mean()

8107.905834186285

## Ejercicio 7

Construyamos un objeto `DataFrame` con las columnas nivel_educativo e ingreso_ult_mes de data

Seleccionemos las primeras 20 filas de este objeto `DataFrame`

Seleccionemos una muestra aleatoria de 500 filas de este objeto `DataFrame`

Ayuda:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html?highlight=sample#pandas.DataFrame.sample

In [25]:
data3 = pd.DataFrame([data2.nivel_educativo,data2.ingreso])
data3 = data3.T
data3

         nivel_educativo ingreso
0            1_H/Sec inc    6000
1      2_Sec. comp y más    5000
2      2_Sec. comp y más    5000
3            1_H/Sec inc   11000
4            1_H/Sec inc    9500
...                  ...     ...
23443  2_Sec. comp y más    4000
23444        1_H/Sec inc    5000
23445  2_Sec. comp y más   13000
23446        1_H/Sec inc    4000
23447        1_H/Sec inc    8000

[23448 rows x 2 columns]

In [26]:
data3.head(20)

      nivel_educativo ingreso
0         1_H/Sec inc    6000
1   2_Sec. comp y más    5000
2   2_Sec. comp y más    5000
3         1_H/Sec inc   11000
4         1_H/Sec inc    9500
5   2_Sec. comp y más    6000
6   2_Sec. comp y más    9000
7         1_H/Sec inc    4260
8         1_H/Sec inc    3800
9   2_Sec. comp y más   10517
10        1_H/Sec inc    8300
11  2_Sec. comp y más    4900
12  2_Sec. comp y más   11000
13  2_Sec. comp y más    9000
14        1_H/Sec inc    3500
15        1_H/Sec inc    8000
16        1_H/Sec inc    2500
17        1_H/Sec inc    7500
18        1_H/Sec inc    5000
19        1_H/Sec inc    5500

In [27]:
data3.sample(500)

         nivel_educativo ingreso
14769        1_H/Sec inc    5000
15521        1_H/Sec inc    6000
6062   2_Sec. comp y más    5000
1009   2_Sec. comp y más    7000
1788   2_Sec. comp y más   10000
...                  ...     ...
20103  2_Sec. comp y más   13000
17280  2_Sec. comp y más   21000
13878  2_Sec. comp y más   15000
14760        1_H/Sec inc    2800
14497  2_Sec. comp y más    7000

[500 rows x 2 columns]

## Ejercicio 8

Construyamos un objeto `DataFrame` con todas las columnas de data excluyendo nivel_educativo.

Ayuda: 

Construir una máscara booleana de los nombres de las columnas.

In [31]:
nueva_data = ['edad','horas_trabajadas','ingreso','calificacion']

data4= pd.DataFrame(data3.loc[nueva_data])

KeyError: "None of [Index(['edad', 'horas_trabajadas', 'ingreso', 'calificacion'], dtype='object')] are in the [index]"

In [38]:
data2

       edad    nivel_educativo  horas_trabajadas     calificacion  ingreso
0        46        1_H/Sec inc                45  2_Op./No calif.   6000.0
1        26  2_Sec. comp y más                25  2_Op./No calif.   5000.0
2        47  2_Sec. comp y más                25  2_Op./No calif.   5000.0
3        52        1_H/Sec inc                90  2_Op./No calif.  11000.0
4        45        1_H/Sec inc                44  2_Op./No calif.   9500.0
...     ...                ...               ...              ...      ...
23443    45  2_Sec. comp y más                50  2_Op./No calif.   4000.0
23444    58        1_H/Sec inc                30  2_Op./No calif.   5000.0
23445    36  2_Sec. comp y más                40  2_Op./No calif.  13000.0
23446    49        1_H/Sec inc                40  2_Op./No calif.   4000.0
23447    36        1_H/Sec inc                54  2_Op./No calif.   8000.0

[23448 rows x 5 columns]

## Ejercicio 9

Ordenar data según la columna edad en forma decreciente.

Ayuda: 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values#pandas.DataFrame.sort_values

In [40]:
data2.sort_values(by=['edad'],ascending=False)

       edad    nivel_educativo  horas_trabajadas     calificacion  ingreso
22574    93        1_H/Sec inc                20  2_Op./No calif.   8000.0
16461    85  2_Sec. comp y más                40    1_Prof./Tecn.  20700.0
16954    85  2_Sec. comp y más                36  2_Op./No calif.   8250.0
23317    84        1_H/Sec inc                25  2_Op./No calif.   9900.0
4340     84        1_H/Sec inc                36  2_Op./No calif.   7500.0
...     ...                ...               ...              ...      ...
15198    13        1_H/Sec inc                 6  2_Op./No calif.    800.0
5698     12        1_H/Sec inc                 5  2_Op./No calif.    250.0
15308    12        1_H/Sec inc                 7  2_Op./No calif.    250.0
19856    12        1_H/Sec inc                15  2_Op./No calif.   1200.0
20050    12        1_H/Sec inc                20  2_Op./No calif.   1600.0

[23448 rows x 5 columns]

## Ejercicio 10

¿Cuál es el promedio de horas trabajadas de los jóvenes entre 14 y 25 años y poco calificados?

Ayuda:
    
Combina varias máscaras booleanas

In [48]:
jovenes = (data2['edad'] >=14) & (data2['edad'] <=25)
poco_calificados= data2['nivel_educativo'] == '1_H/Sec inc'

data2[jovenes & poco_calificados].mean()

edad                  21.399402
horas_trabajadas      38.014959
ingreso             4392.124159
dtype: float64

edad                 16.266667
hs_trabajados        27.161905
ingreso_ult_mes    2542.914286
dtype: float64

## Ejercicio 11

Generemos un nuevo dataframe con los trabajadores que ganan más del promedio de ingresos general y están por debajo de la cantidad media de horas trabajadas. ¿Cuántos trabajadores se encuentran en esta condición? ¿Cuál es su edad mediana?

Ayuda:

Calcular el promedio de ingresos y la media de horas trabajadas

Construir máscaras booleanas con estos valores

Indexar data con la combinación de las máscaras construidas

In [52]:
ingreso_mayor_avg= data2['ingreso'] > data2['ingreso'].mean()
horas_menor_avg = data2['horas_trabajadas'] < data2['horas_trabajadas'].mean()

nuevo_df = pd.DataFrame(data2[ingreso_mayor_avg & horas_menor_avg])
nuevo_df

       edad    nivel_educativo  horas_trabajadas     calificacion  ingreso
10       72        1_H/Sec inc                15    1_Prof./Tecn.   8300.0
12       43  2_Sec. comp y más                15    1_Prof./Tecn.  11000.0
47       33  2_Sec. comp y más                39    1_Prof./Tecn.   9500.0
48       55        1_H/Sec inc                30  2_Op./No calif.  13000.0
88       46        1_H/Sec inc                36    1_Prof./Tecn.  10000.0
...     ...                ...               ...              ...      ...
23393    30  2_Sec. comp y más                30  2_Op./No calif.  10000.0
23397    46  2_Sec. comp y más                36  2_Op./No calif.  10100.0
23398    38  2_Sec. comp y más                35  2_Op./No calif.   8500.0
23430    62  2_Sec. comp y más                30    1_Prof./Tecn.   8500.0
23442    41  2_Sec. comp y más                39  2_Op./No calif.   9500.0

[2132 rows x 5 columns]

,edad,nivel_educativo,hs_trabajados,calif_ocupacional,ingreso_ult_mes
10,72,1_H/Sec inc,15,1_Prof./Tecn.,8300.0
12,43,2_Sec. comp y más,15,1_Prof./Tecn.,11000.0
47,33,2_Sec. comp y más,39,1_Prof./Tecn.,9500.0
48,55,1_H/Sec inc,30,2_Op./No calif.,13000.0
88,46,1_H/Sec inc,36,1_Prof./Tecn.,10000.0
...,...,...,...,...,...
23393,30,2_Sec. comp y más,30,2_Op./No calif.,10000.0
23397,46,2_Sec. comp y más,36,2_Op./No calif.,10100.0
23398,38,2_Sec. comp y más,35,2_Op./No calif.,8500.0
23430,62,2_Sec. comp y más,30,1_Prof./Tecn.,8500.0
23442,41,2_Sec. comp y más,39,2_Op./No calif.,9500.0

              edad  hs_trabajados  ingreso_ult_mes
count  2132.000000    2132.000000      2132.000000
mean     45.046904      28.575047     13718.699343
std      12.900320       7.192760      7637.810681
min      18.000000       1.000000      8150.000000
25%      35.000000      25.000000      9800.000000
50%      44.000000      30.000000     11900.000000
75%      54.000000      35.000000     15000.000000
max      85.000000      39.000000    130000.000000