In [1]:
# settings local:
%run "../../../common/0_notebooks_base_setup.py"

/media/paulati/Nuevo vol/paula/dh/2021/dsad_2021_paula/common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
pandas=1.1.5 already installed
bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
pytest=6.2.1 already installed
chardet=4.0.0 already installed
psutil=5.7.2 already installed
scipy=1.5.2 already installed
statsmodels=0.12.1 already installed
scikit-learn=0.23.2 already installed
xlrd=2.0.1 already installed
Running command `conda install --yes nltk=3.5.0`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.9.0 already installed
flask=1.1.2 already installed

---

<img src='../../../common/logo_DH.png' align='left' width=35%/>

En la práctica de la clase de hoy usaremos un dataset de Kaggle que tiene datos de ventas:

https://www.kaggle.com/kyanyoga/sample-sales-data

Ustedes tienen un subconjunto de los datos disponibles, que usaremos para resolver ejercicios de Numpy.

## Ejercicio 1

Leer los datos del archivo /M1/CLASE_03_Numpy/Data/sales_data_sample_excercise.csv

Este archivo tiene algunos datos numéricos y otros de tipo cadena de caracteres. 

Las columnas son:

* ORDERNUMBER: int, id de la orden

* SALES: float, monto abonado

* MONTH_ID: int, mes

* YEAR_ID: int, año

* PRODUCTLINE: str, producto

* COUNTRY: str, país de venta

¿Recuerdan que todos los elementos de una instancia de ndarray deben ser del mismo tipo? Entonces vamos a leer el archivo y crear una instancia de ndarray de tipo cadena de caracteres.

¿Qué pasaría si intentáramos crear una instancia de tipo int? ¿Y de tipo float?

In [1]:
import numpy as np

In [2]:
%pwd

'C:\\Users\\alejo\\dh\\notebooks\\clase_03\\dsad_2021\\M1\\CLASE_03_Numpy\\Notebooks\\.ipynb_checkpoints'

In [19]:
archivo= '../../Data/sales_data_sample_excercise.csv'

data_str = np.genfromtxt(archivo, skip_header=1, delimiter='\t',dtype=str)
data_str

array([['10107', '2871', '2', '2003', 'Motorcycles', 'USA'],
       ['10121', '2765.9', '5', '2003', 'Motorcycles', 'France'],
       ['10134', '3884.34', '7', '2003', 'Motorcycles', 'France'],
       ...,
       ['10386', '5417.57', '3', '2005', 'Ships', 'Spain'],
       ['10397', '2116.16', '3', '2005', 'Ships', 'France'],
       ['10414', '3079.44', '5', '2005', 'Ships', 'USA']], dtype='<U16')

In [13]:
data_int = np.genfromtxt(archivo, skip_header=1, delimiter='\t', dtype=int)
data_int

array([[10107,  2871,     2,  2003,    -1,    -1],
       [10121,  2765,     5,  2003,    -1,    -1],
       [10134,  3884,     7,  2003,    -1,    -1],
       ...,
       [10386,  5417,     3,  2005,    -1,    -1],
       [10397,  2116,     3,  2005,    -1,    -1],
       [10414,  3079,     5,  2005,    -1,    -1]])

In [14]:
data_float = np.genfromtxt(archivo, skip_header=1, delimiter='\t', dtype=float)
data_float

array([[1.01070e+04, 2.87100e+03, 2.00000e+00, 2.00300e+03,         nan,
                nan],
       [1.01210e+04, 2.76590e+03, 5.00000e+00, 2.00300e+03,         nan,
                nan],
       [1.01340e+04, 3.88434e+03, 7.00000e+00, 2.00300e+03,         nan,
                nan],
       ...,
       [1.03860e+04, 5.41757e+03, 3.00000e+00, 2.00500e+03,         nan,
                nan],
       [1.03970e+04, 2.11616e+03, 3.00000e+00, 2.00500e+03,         nan,
                nan],
       [1.04140e+04, 3.07944e+03, 5.00000e+00, 2.00500e+03,         nan,
                nan]])

## Ejercicio 2

Crear un array numérico que tenga como valores las columna SALES y otro array de str que tenga como valores la columna COUNTRY

Ayuda: https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.astype.html

In [15]:
sales_array = data_float[:,1]
sales_array

array([2871.  , 2765.9 , 3884.34, ..., 5417.57, 2116.16, 3079.44])

In [20]:
country_array = data_str[:,-1]
country_array

array(['USA', 'France', 'France', ..., 'Spain', 'France', 'USA'],
      dtype='<U16')

## Ejercicio 3

¿Cuál fue el monto mínimo de una venta? ¿Cuál fue el monto máximo?

In [22]:
minimo= np.min(sales_array)
maximo= np.max(sales_array)
print(f'Minimo: {minimo}\n'
      f'Maximo: {maximo}')

Minimo: 482.13
Maximo: 14082.8

## Ejercicio 4

¿Cuántas ventas se hicieron en Spain?

Ayuda: boolean indexing

In [25]:
spain_mask = data_str[:,-1] == 'Spain'
spain_sales= sales_array[spain_mask]
spain_sales

array([ 7516.08,  7329.06, 12001.  ,  5887.35,  9218.16,  5324.4 ,
        1962.22,  3347.74,  3930.4 ,  4904.  ,  8378.58,  2513.28,
        2439.57,  7969.36,  3447.78,  5958.5 ,  5393.64,  4801.52,
        2711.66,  2254.8 ,  4946.76,  7036.89,  6952.12,  3651.56,
        4615.78,  4516.22,  5069.66,  2694.72,  5951.34,  5195.85,
        4180.44,  3857.  ,  7182.  ,  4186.73,  3735.72,  4684.8 ,
        2515.32,  2309.58,  3053.28,  1164.4 ,  4492.36,  2923.2 ,
        1449.76,  6567.96,  1364.25,  5967.  ,  5399.55,  3846.15,
        1339.8 ,  4840.87,  3457.92,  7381.16,  6549.2 ,  2428.  ,
        6712.93,  1322.16,  2255.84,  1331.1 ,  3772.61,  5984.14,
        2159.96,   728.4 ,  3843.99,  5498.08,  3604.23,  4931.6 ,
        2795.86,  2647.04,  1859.7 ,  2913.53,  3394.23,  1570.17,
        2202.48,  7492.4 ,  9534.5 ,  5950.34,   990.78,  4910.4 ,
        5278.68,  5127.2 ,  2795.27,  3525.6 ,  3390.2 ,  1394.16,
        4036.04,  2697.6 ,  2793.71,  3441.37,  2921.7 ,  3340.51,
        5544.02,  3641.57,  3675.63,  5191.12,  1476.48,  4556.99,
        4409.72,  8291.04,  5554.4 ,  7132.68,  2991.68,  6869.05,
        3353.02, 11887.8 ,  4837.18,  2573.46,  3070.52,  3814.64,
        3340.48,  2839.32,  2464.  ,  3128.92,  3035.88,  5127.04,
        3177.91,  4149.07,  6357.6 ,  3616.64,  2266.56,  1657.57,
        4609.64,  2538.8 ,  4103.46,  1266.1 ,  5348.5 ,  2528.25,
        5340.9 ,  6376.58,  3358.31,  3376.64,  3962.88,  1834.36,
        2611.  ,  5090.5 ,  3023.1 ,  1640.24,  7083.  ,  2314.69,
        7110.8 ,  5302.8 ,  1556.62,  4203.5 ,  3289.86,  1575.08,
        1674.75,  4536.  ,  3374.71,  2398.72,  2273.7 ,  3441.82,
        1942.15,  1863.41,  2314.4 ,  2673.44,  2018.72,  1558.99,
        1104.6 ,  3550.05,  2399.85,  2218.5 ,  3970.56,  3858.1 ,
        3310.92,  1376.43,  1189.44,   683.8 ,  2257.92,  4398.9 ,
        5456.4 ,  6083.  ,  4534.6 ,  1711.22,   913.92,  2349.06,
        1764.75,  1845.45,  3415.77,  3496.32,  3520.6 ,  5981.42,
        5684.65,  8498.  ,  3199.98,  2896.65,  3966.3 ,  3918.53,
        2620.8 ,  1350.  ,  1742.4 ,  1336.44,  1767.43,  2985.84,
        6089.6 ,  1789.4 ,  1082.1 ,  1611.36,  2182.44,  5580.96,
        4595.41,  1596.76,   777.  ,  1476.28,  1386.72,  5856.85,
        3266.1 ,  3910.4 ,  3021.  ,  2149.74,  2344.98,  2076.  ,
        3478.64,  2206.6 ,  2747.8 ,  1910.84,  3236.1 ,  2231.6 ,
        4039.26,  6168.  ,  4236.14,  3953.18,  1900.36,  4273.29,
        1508.5 ,  6996.42,  6949.67,  5302.72,  1757.91,  2948.16,
        3006.12,  1534.72,   965.04,  4086.29,  2921.62,  5795.72,
        6311.2 ,  1972.11,  5207.75,  4253.2 ,  3576.12,  3467.2 ,
        1962.09,  6847.  ,  3565.92,  3390.8 ,  3167.  ,  2670.92,
        4894.17,  4141.33,  4607.36,  6386.94,  4428.  ,  2642.01,
        6482.85,  1517.54,  1513.54,  3298.4 ,  1666.7 ,  2071.41,
        1704.5 ,  1701.76,  2259.72,   925.3 ,  3227.63,  2445.6 ,
        4406.4 ,  1587.08,  1808.4 ,  1630.2 ,  3139.99,  5669.64,
        2702.04,  2797.9 ,  3164.4 ,  2307.24,  3600.24,  4326.8 ,
        1355.13,   820.4 ,  1860.53,  2024.8 ,  3705.24,  4948.2 ,
        2928.42,  2213.4 ,  3087.05,  3460.86,  1705.92,  1779.71,
        6490.88,  2282.28,  2668.8 ,  2780.81,  1824.  ,  1487.41,
        3526.82,  1863.36,  4954.08,  3361.2 ,  2658.  ,  3104.  ,
        2711.88,  2738.54,  2924.32,  2172.48,  4142.16,  2487.04,
        2994.75,  4826.25,  3102.08,  2451.84,  3939.5 ,  2185.15,
        5017.57,  4597.2 ,  2650.56,  3761.37,  3722.32,  2691.09,
        4094.51,  2052.  ,  3018.88,  4219.2 ,  4407.5 ,  4055.04,
        2488.32,  2397.54,  4143.6 ,  2204.6 ,  2526.48,  3267.25,
        2854.75,  2864.4 ,  2487.45,  3801.6 ,  1209.59,  1199.31,
        4357.5 ,  3003.  ,  2009.2 ,  2109.66,  2244.4 ,  5417.57])

## Ejercicio 5

¿Qué porcentaje de las ventas se hicieron en Spain?

In [32]:
print(len(spain_sales))
print(len(sales_array))
print(f'{round(len(spain_sales) / len(sales_array) * 100, 2)}%')

342
2823
12.11%

## Ejercicio 6

¿Cuál es el país de la venta de precio máximo? ¿Cuál es el id de esa venta?

Ayuda: boolean indexing

In [42]:
mask_max=sales_array.argmax()
data_str[mask_max]

array(['10407', '14082.8', '4', '2005', 'Vintage Cars', 'USA'],
      dtype='<U16')

In [43]:
mask_max2 = data_float[:,1] == maximo
data_str[mask_max2]

array([['10407', '14082.8', '4', '2005', 'Vintage Cars', 'USA']],
      dtype='<U16')

## Ejercicio 7

¿Cuál es el precio promedio de ventas en France? ¿Cuál es el desvío?

In [46]:
france_mask = data_str[:,-1] == 'France'
fr_sales = sales_array[france_mask]
print(f'Average: {np.mean(fr_sales)}\n'
      f'Std: {np.std(fr_sales)}')

Average: 3537.9507006369427
Std: 1939.214360481481

## Ejercicio 8

¿Cuál fue el año con máximo desvío en las ventas en France?

Ayuda: https://docs.scipy.org/doc/numpy/reference/generated/numpy.unique.html

In [49]:
unique_years = np.unique(data_str[:,3])
for year in unique_years:
      year_mask= data_str[:,3]==year
      var = sales_array[france_mask & year_mask]
      print(f'In {year} the standard deviation was {np.std(var)}')

In 2003 the standard deviation was 1860.7718844747073
In 2004 the standard deviation was 1837.8438485766644
In 2005 the standard deviation was 2241.7723043613423