In [1]:
# initial setup
import pandas as pd
%run "../../../common/0_notebooks_base_setup.py"

/media/paulati/Nuevo vol/paula/dh/2021/dsad_2021/common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
pandas=1.1.5 already installed
bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
pytest=6.2.1 already installed
chardet=4.0.0 already installed
psutil=5.7.2 already installed
scipy=1.5.2 already installed
statsmodels=0.12.1 already installed
scikit-learn=0.23.2 already installed
xlrd=2.0.1 already installed
Running command `conda install --yes nltk=3.5.0`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.9.0 already installed
flask=1.1.2 already installed

Los temas que vimos en esta parte son limpieza de datos, expresiones regulares, funciones lambda, apply .

La idea de esta práctica es ejercitar los puntos que vamos a necesitar en la clase presencial.

Usaremos el dataset de las obras del Met (The Metropolitan Museum of Art)

https://github.com/metmuseum/openaccess/

## Ejercicio 1
Vamos a leer en la variable `data` los datos del archivo /M2/CLASE_05_Limpieza_de_datos/Data/MetObjects_sample.csv en un `DataFrame` de pandas con el método `read_csv` 

Veamos de qué tipos de datos son las columnas.

In [3]:
import pandas as pd

In [5]:
data = pd.read_csv('../Data/MetObjects_sample.csv')
data

,Unnamed: 0,Object Number,Is Highlight,Is Public Domain,Is Timeline Work,Object ID,Department,AccessionYear,Object Name,Title,...,Excavation,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL
0,297513,Inst.1980.3.1,False,False,False,442985,Islamic Art,NaN,Illustrated single work,Illustrated Single Work,...,NaN,NaN,Codices,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",Abstraction,http://vocab.getty.edu/page/aat/300056508
1,366196,175T49 R43,True,False,False,591826,The Libraries,NaN,NaN,Vita del Tintoretto,...,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q29385980,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN
2,380983,WW.550,False,False,False,650203,Drawings and Prints,NaN,Print,Flowers and Dragonfly,...,NaN,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",Dragonflies|Flowers,http://vocab.getty.edu/page/aat/300310476|http...
3,379184,WW.211,False,False,False,647832,Drawings and Prints,NaN,Print,Old Karlsbad: City Tower (Alt-Karlsbad Stadtturm),...,NaN,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",Towers,http://vocab.getty.edu/page/aat/300004847
4,472119,24.63.2060,False,False,False,838838,Drawings and Prints,NaN,Print,"Victor Hugo, published in Le Masque",...,NaN,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4738,55188,CP288,False,False,False,63654,Asian Art,1941,Print,NaN,...,NaN,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN
4739,333892,1979.292.676,False,False,False,496985,Modern and Contemporary Art,1979,Drawing,Untitled (female nude studies),...,NaN,NaN,Drawings,"© 2020 Artists Rights Society (ARS), New York",http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN
4740,189623,1979.206.698,False,False,True,312885,"Arts of Africa, Oceania, and the Americas",1979,Bowl,Bowl,...,NaN,NaN,Ceramics-Containers,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN
4741,213869,53.605.2,False,False,False,345597,Drawings and Prints,1953,Book,Anatomia ex Caspari Bartolini Parentis Institu...,...,NaN,NaN,Books,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN
4742,473188,"Burdick 335, V31.4",False,False,False,841114,Drawings and Prints,1963,Print,"Roy ""Peewee"" Chantler from Dominion Chocolate ...",...,NaN,NaN,Prints|Ephemera,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN

In [6]:
data.dtypes

Unnamed: 0                   int64
Object Number               object
Is Highlight                  bool
Is Public Domain              bool
Is Timeline Work              bool
Object ID                    int64
Department                  object
AccessionYear               object
Object Name                 object
Title                       object
Culture                     object
Period                      object
Dynasty                     object
Reign                       object
Portfolio                   object
Artist Role                 object
Artist Prefix               object
Artist Display Name         object
Artist Display Bio          object
Artist Suffix               object
Artist Alpha Sort           object
Artist Nationality          object
Artist Begin Date           object
Artist End Date             object
Artist Gender               object
Artist ULAN URL             object
Artist Wikidata URL         object
Object Date                 object
Object Begin Date            int64
Object End Date              int64
Medium                      object
Dimensions                  object
Credit Line                 object
Geography Type              object
City                        object
State                       object
County                      object
Country                     object
Region                      object
Subregion                   object
Locale                      object
Locus                       object
Excavation                  object
River                       object
Classification              object
Rights and Reproduction     object
Link Resource               object
Object Wikidata URL         object
Metadata Date              float64
Repository                  object
Tags                        object
Tags AAT URL                object
dtype: object

## Ejercicio 2
¿Qué campos tienen valores nulos? ¿Qué porcentaje de nulos tienen cada uno de ellos?

In [7]:
data.isnull().sum()

Unnamed: 0                    0
Object Number                 0
Is Highlight                  0
Is Public Domain              0
Is Timeline Work              0
Object ID                     0
Department                    0
AccessionYear              1000
Object Name                  88
Title                       829
Culture                    2425
Period                     3424
Dynasty                    4559
Reign                      4672
Portfolio                  4599
Artist Role                2359
Artist Prefix              4007
Artist Display Name        2345
Artist Display Bio         2631
Artist Suffix              4664
Artist Alpha Sort          2345
Artist Nationality         3169
Artist Begin Date          2646
Artist End Date            2655
Artist Gender              3751
Artist ULAN URL            2964
Artist Wikidata URL        3430
Object Date                1570
Object Begin Date             0
Object End Date               0
Medium                      132
Dimensions                  508
Credit Line                  60
Geography Type             4210
City                       4481
State                      4725
County                     4674
Country                    4081
Region                     4536
Subregion                  4609
Locale                     4663
Locus                      4712
Excavation                 4670
River                      4731
Classification              450
Rights and Reproduction    4615
Link Resource                 0
Object Wikidata URL        4526
Metadata Date              4743
Repository                    0
Tags                       2487
Tags AAT URL               2487
dtype: int64

In [10]:
len(data)

4743

In [9]:
data.isnull().sum()/len(data)*100

Unnamed: 0                   0.000000
Object Number                0.000000
Is Highlight                 0.000000
Is Public Domain             0.000000
Is Timeline Work             0.000000
Object ID                    0.000000
Department                   0.000000
AccessionYear               21.083702
Object Name                  1.855366
Title                       17.478389
Culture                     51.127978
Period                      72.190597
Dynasty                     96.120599
Reign                       98.503057
Portfolio                   96.963947
Artist Role                 49.736454
Artist Prefix               84.482395
Artist Display Name         49.441282
Artist Display Bio          55.471221
Artist Suffix               98.334388
Artist Alpha Sort           49.441282
Artist Nationality          66.814253
Artist Begin Date           55.787476
Artist End Date             55.977230
Artist Gender               79.084967
Artist ULAN URL             62.492094
Artist Wikidata URL         72.317099
Object Date                 33.101413
Object Begin Date            0.000000
Object End Date              0.000000
Medium                       2.783049
Dimensions                  10.710521
Credit Line                  1.265022
Geography Type              88.762387
City                        94.476070
State                       99.620493
County                      98.545225
Country                     86.042589
Region                      95.635674
Subregion                   97.174784
Locale                      98.313304
Locus                       99.346405
Excavation                  98.460890
River                       99.746996
Classification               9.487666
Rights and Reproduction     97.301286
Link Resource                0.000000
Object Wikidata URL         95.424837
Metadata Date              100.000000
Repository                   0.000000
Tags                        52.435168
Tags AAT URL                52.435168
dtype: float64

## Ejercicio 3

Analicemos la columna Object Date

¿Qué formato tienen los valores de este campo? ¿Qué patrones pueden identificar?

Sugerencia: recuerden el método value_counts
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html

In [16]:
object_date_series = data['Object Date']

In [17]:
object_date_series.value_counts()

19th century           130
18th century            80
17th century            65
1912                    54
1911                    50
                      ...
1740–1802                1
fall/winter 1986–87      1
ca. 1549                 1
1817–40                  1
1546                     1
Name: Object Date, Length: 1378, dtype: int64

## Ejercicio 4

Usando expresiones regulares, apply y funciones lambda, creemos un nuevo campo "ObjectDateClean" que sea de tipo numérico y tenga el valor del año corresponiente a cada registro extrayéndolo del campo ObjectDate.

¿Qué características tienen los valores de los registros que no verificaron ningún patrón de los definidos?

Ayuda: Identifiquemos los patrones y decidamos cómo extraer el año de los valores de los registros que verifican cada uno de esos patrones. Después, de a un patrón, usemos la estrategia que definimos antes para extraer el valor del año de los registros que lo verifican.

In [18]:
null_mask = object_date_series.isnull()
null_mask.sum()

1570

In [19]:
import re 
import numpy as np 

year_pattern = "(\d)?\d\d\d$"
year_pattern_regex = re.compile(year_pattern)

data_year_match = object_date_series.apply(lambda x:  x if x is np.NaN else year_pattern_regex.search(x))

mask_data_year_match_notnull = data_year_match.notnull()

data.loc[mask_data_year_match_notnull, "ObjectDateClean"] = data_year_match[mask_data_year_match_notnull].apply(lambda x: x.group(0))

In [20]:
data.loc[mask_data_year_match_notnull, ["Object Date", "ObjectDateClean"]]

        Object Date ObjectDateClean
1              1642            1642
2              1911            1911
3              1909            1909
4     June 20, 1867            1867
5          ca. 1878            1878
...             ...             ...
4733      1900–1907            1907
4734           1883            1883
4739       ca. 1938            1938
4741           1669            1669
4742       ca. 1925            1925

[1434 rows x 2 columns]

In [22]:
data['ObjectDateClean'].value_counts()

1912    57
1911    51
1910    38
1888    32
1907    26
        ..
1841     1
1687     1
1795     1
1816     1
2005     1
Name: ObjectDateClean, Length: 372, dtype: int64

Posiblemente veamos que nos faltó considerar:
* los valores terminados en BC o B.C., y marcar esos años como negativos 
* considerar los períodos que tienen siglos, en lugar de años
* borrar las C. que aparecen de sufijo
* Considerar pallabras mals escritas como "cenutry"

Si tienen ganas de seguir practicando pueden resolver algunos de éstos.